configuration {
	modes: "drun,run";
	font: "Monofur Nerd Font 10";
	location: 1;
	yoffset: 3;
	xoffset: 20;
	terminal: "foot";
	sidebar-mode: true;
  	
	timeout {
      	action: "kb-cancel";
      	delay:  10;
	}
}

@theme "dark"
