:root{
    --light-bg: #ffffff;
    --light-fg: #000000;
    --dark-bg: #141617f5;
}

body{
    font-family: sans-serif;
    background: var(--bg);
    color: var(--fg);
}
iframe{
    border: solid 0.5px black
}

h4{
    color: #89b482;
}